In [1]:
print('hello world')

hello world

In [2]:
#to_get the location this python file
%pwd

'/home/prince_singh/Desktop/python for data analysis'

# Tab Completion

In [12]:
b = [123,234,345,456]
a=[]

In [17]:
a= b.copy()           # Pressing <TAB>, for autosuggestion

In [31]:
print(b.clear)

<built-in method clear of list object at 0x7f5adce56f40>

In [32]:
a.index(123)

0

In [36]:
a.append(987)

In [37]:
a

[123, 234, 345, 1231, 456, 987, 987]

In [40]:
a.insert(3,1231)   # To_get inormation of periemeters of a method use <SHIFT + TAB>

In [42]:
a

[123, 234, 345, 1231, 1231, 456, 987, 987]

In [37]:
import datetime

In [38]:
datetime.date

datetime.date

In [43]:
# To get location of a file("here a text file")
#   file name can be autocompleted using <TAB>,  provided file in same location  as jupyter notebook
path='testfile'

In [44]:
open(path).readlines()

['abcd\n', 'efgh ijkl\n', 'mnop qrst uvwx\n', 'yx\n']

# Introspection

Using a question mark (?) before or after a varibable will display some general information about the object

In [50]:
b?

In [51]:
open?

In [52]:
import pandas as pd

In [58]:
a=pd.ExcelFile('SampleData.xlsx')
a

# %run Command
To run any file as a Python program inside the environment of this notebook session  using the "%run"

In [60]:
%run?

temp.py already existing file

In [68]:
%run temp.py

In [69]:
print(result)

1.3333333333333333

In [70]:
print(f(12,23,45))

1.5217391304347827

# % load

In [1]:
# %load temp.py
def f(x,y,z):
    return (x+y)/y
a=5
b= 15
c=2
result = f(a,b,c)

In [3]:
data = [1,2,3]

In [4]:
tryt

Object `try` not found.

# Strings

In [33]:
a= 'one way of writing a string'
b = 'another way'
c = """
This is a longer string that
spans multiple lines
"""

In [7]:
c.count("\n")

3

In [9]:
a[11]

'w'

In [10]:
a[10]= 'k'

TypeError: 'str' object does not support item assignment

In [12]:
a.replace('one way',b)                   # Right way of assigning values to existing string

'another way of writing a string'

In [15]:
# Type conversion in strings
n = 10
print(type(str(n)))

<class 'str'>

In [18]:
# makins list of strings
list('PYTHON')

['P', 'Y', 'T', 'H', 'O', 'N']

In [20]:
# Slicing of string
a[ : 10]

'one way of'

In [39]:
#  '\n' , represent a next line
l = '12\n94'
print(l)

12
94

In [41]:
# concatination of string
p = 'this is first half '
q = 'and this is second half'
print(p+q)

this is first half and this is second half

# Templating or Formatting

In [57]:
template = '{0:.3f} {1:s} are worth US${2:d}'
# {0:.2f} means to format the first argument as a floating point number with two decimal places.
# {1:s} means to format the second argument as a String.
# {2:d} means to format the third argument as an Integer.

In [59]:
template.format(4.56563,'Argentine Pesos', 1)

'4.566 Argentine Pesos are worth US$1'

# Bytes and Unicode

In [60]:
val = 'Indian'
val

'Indian'

In [61]:
# This Unicode String converted to its UTF-8 bytes
val_utf8 = val.encode('utf-8')
val_utf8

b'Indian'

In [62]:
type(val_utf8)

bytes

In [64]:
val_utf8.decode('utf-8')
# The byte code is converted back to Unicode String

'Indian'

# Dates and Times
immutable

In [67]:
from datetime import datetime, date, time

In [75]:
dt = datetime(2344,12,11,1,23,45)

In [76]:
dt.year

2344

In [77]:
dt.month

12

In [78]:
dt.day

11

In [79]:
dt.hour

1

In [80]:
dt.minute

23

In [81]:
dt.second

45

In [84]:
dt.date()

datetime.date(2344, 12, 11)

In [85]:
dt.time()

datetime.time(1, 23, 45)

# 'strftime' method formats a datetime as a string.

In [87]:
dt.strftime('%d/%m/%Y   %H:%M:%S')

'11/12/2344   01:23:45'

In [90]:
# String can be converted (parsed) into datetime objects using    'strptime()'
datetime.strptime('20212802','%Y%d%m')

datetime.datetime(2021, 2, 28, 0, 0)

In [93]:
datetime.today()

datetime.datetime(2021, 2, 28, 19, 50, 8, 749453)

In [99]:
datetime.today().time()

datetime.time(19, 51, 45, 26876)

In [100]:
datetime.today().strftime('%d/%m/%Y')

'28/02/2021'

In [108]:
dt.replace(minute=10,second=0)
# Since datetime.datetime is an immutable type, methods like these always produce new object.

datetime.datetime(2344, 12, 11, 1, 10)

In [109]:
dt1 = datetime.today()

In [110]:
delta = dt - dt1

In [111]:
print(delta)

118258 days, 3:07:52.570410

In [112]:
type(delta)

datetime.timedelta

Note: the difference of two datetime objects produces a datetime.timedelta tpye

In [113]:
print(dt + delta)

2668-09-21 04:31:37.570410

# Ternary Expressions

In [150]:
x =3
results = 'Non-Negative' if x >=0 else 'Negative'
results

'Non-Negative'

In [151]:
type(results)

str